<section class="hero-area hero-post-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/mixed.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" id="typed-strings" data-delay="100ms">Discipleship Training School (DTS)</h2>
                        <h2 data-animation="fadeInUp" id="typed" data-delay="100ms"></h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Pursue God and be activated in your faith</p>
                        <a href="#/about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/fun2.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Making Jesus Known</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="/contact" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/yellow2.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Know God and Make Him Known</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="#/daily-confession" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/white1.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Get Involved</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Find out more about short term and long term opportunities at YWAM legon</p>
                        <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  
</section>
<!-- ##### Hero Area End ##### -->
