<section class="hero-area hero-post-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/mixed.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" id="typed-strings" data-delay="100ms">Building Hope</h2>
                        <h2 data-animation="fadeInUp" id="typed" data-delay="100ms"></h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="/about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/fun2.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Making Jesus Known</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="/contact" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/yellow2.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Speak The Word</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="/daily-confession" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Our Confessions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/white1.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Know Your Identity In Christ</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Join Our Eagles Camp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/yellow1.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Learn and Network</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Join Our Mentorship Hub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../public/img/photos_phone/mixed.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Learn a Skill</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">Learn about our mission, our beliefs, and the hope we have in Jesus.</p>
                        <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Join Our ICT Skill Training</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->
