
<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>Welcome To YWAM Legon</h2>
                    <p> Learn, connect and grow.</p>
                </div>
            </div>
        </div>

        <div class="row about-content justify-content-center">
            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../../public/img/gem/two.jpg" alt="">
                    <div class="about-text">
                        <h4>EVANGELISM</h4>
                        <p>We use many creative tools to present the gospel, including drama, music, videos, websites and sport camps. <br>We want to
                        share our faith effectively in ways that the audience – whether teenager, elderly refugees, or unreached people group –
                        will understand. <br>YWAM also start churches in places where there may be no church at all.</p>

                        
                        <a href="#/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../public/img/photos_phone/yellow2.jpg                                " alt="">
                    <div class="about-text">
                        <h4>TRAINING</h4>
                        <p>Through our training programs, we aim to better equip Christians in their relationship with God and to serve others in
                        everything from agriculture and health care to business development and biblical counseling.<br> Our entry level school is
                        the Discipleship Training School (DTS.) Over 10,000 people each year go through this six months program.<br> It is an
                        intensive time of growing more like Jesus and serving Him in the world.</p>

                        <a href="/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../public/img/photos_phone/mixed.jpg" alt="">
                    <div class="about-text">
                        <h4>MERCY MINISTRY</h4>
                    <p>We help meet some of the practical and physical needs of more than a million people each year all over the world. <br>We
                    care for street children, aid in the recovery of drug addicts, feed and house refugees etc. <br>These are just some of the
                    ways in which we extend helping hands in Jesus’ name.</p>

                        <a href="#/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
