
<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>Welcome To Campus Gem International</h2>
                    <p> Learn, connect and grow.</p>
                </div>
            </div>
        </div>

        <div class="row about-content justify-content-center">
            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../../public/img/gem/two.jpg" alt="">
                    <div class="about-text">
                        <h4>Our Mission</h4>
                        <p>To propagate the Gospel of our Lord Jesus Christ to humanity especially the unreached through all relevant media and to
                        disciple them as commissioned by our Lord Jesus Christ.</p>
                        <a href="/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../public/img/photos_phone/yellow2.jpg                                " alt="">
                    <div class="about-text">
                        <h4>Our Vision</h4>
                        <p>To raise strategic and transformational leaders with Christ centered principles.</p>
                        <a href="/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="../public/img/photos_phone/mixed.jpg" alt="">
                    <div class="about-text">
                        <h4>Our Core Values</h4>
                        <p>Excellence,Faith,Integrity and Leadership. <br/>
                        We firmly believe that academic excellence is a form of worship and we pursue this vigorously.
</p>
                        <a href="/vision-mission">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
