{{>header}}
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<div class="about-us-area about-page section-padding-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="about-content">
                    <h5>Who We Are</h5>
                    <p>We are what we think, and we think what we feed our minds with. Growing up as a 21st century
                        youth, I realized how much society is polluted with all sort of content to feed our minds.
                        Unconsciously, we tend to behave in ways that are influenced by all the polluted content out
                        there. This is a real problem because, content on the media, entertainment industry and wrong
                        norms and notions are becoming an integral part of us. Change begins from the mind. The Hilltop
                        Vision with the leadership of the Holy Spirit is creating a transformative drive, that will
                        renew the minds of the youth and generations to come.</p>
                   
                </div>



                    <div class="about-content">
                        <h5>Eagles Camp Meeting</h5>
                        <p>
                            We are what we think, and we think what we feed our minds with. Growing up as a 21st century

                            </p>
                    
                    </div>

                    <div class="about-content">
                        <h5>Coordinators Camp</h5>
                        <p>
                            We are what we think, and we think what we feed our minds with. Growing up as a 21st century
                        </p>
                    </div>


                    <div class="about-content">
                        <h5>Love Feasts</h5>
                        <p>
                            CGM organizes relationship seminars from time to time dubbed LOVE FEAST.
                            COVID-19 helped us to elevate the relationship seminar into an online monthly meeting with amazing participation
                            globally.
                        </p>
                    
                    </div>

                    <div class="about-content">
                        <h5>Mentoring HUB</h5>
                        <p>
                        In the monitoring HUB we devote time to provide mentoring to our young and upcoming executives.
                        </p>
                    
                    </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-thumbnail">
                    <img src="../public/img/bg-img/DSCN1531.JPG" alt="">
                </div>
                <div class="about-thumbnail">
                    <img src="../public/img/gem/yellow-grp.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ##### About Us Area End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<!-- <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>A Place For You</h6>
                        <h2>Find a place to connect and grow through a small group, class, or regular gathering.</h2>
                        <a href="#" class="btn crose-btn btn-2">Become A Member</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Why Choose Us Area Start ##### -->
<div class="why-choose-us bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>What we do</h2>
                    <p>Loaded with fast-paced worship, activities, and IT trainings teachings to address real issues that
                        we face each day</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why1.png" alt="">
                    <h4>Events</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why2.png" alt="">
                    <h4>Outreach</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why3.png" alt="">
                    <h4>Mentorship</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Why Choose Us Area End ##### -->

<!-- ##### Team Members Area Start ##### -->

<!-- ##### Team Members Area End ##### -->

<!-- ##### Subscribe Area Start ##### -->
{{>subscribe}}


{{>footer}}
