{{>header}}
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<div class="about-us-area about-page section-padding-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="about-content">
                    <h5>About YWAM Accra Legon</h5>
                    <p>Youth With A Mission is a global movement of Christians from many cultures, age groups, and Christian traditions,
                    dedicated to serving Jesus throughout the world.
</p>
                   
                </div>



                    <div class="about-content">
                        <h5>Our Purpose and Motivation</h5>
                        <p>
                        Our training programs are designed to provide individuals with the skills, knowledge, character, and experience they
                        need to thrive and to effectively represent Christ across all areas of society.
                        
                        We offer a range of transformational ministries to serve the local community, focusing on empowering children, youth,
                        men, women, and families.

                            </p>
                    
                    </div>

                  

            </div>

            <div class="col-12 col-lg-6">
                <div class="about-thumbnail">
                    <img src="../public/img/bg-img/DSCN1531.JPG" alt="">
                </div>
                <div class="about-thumbnail">
                    <img src="../public/img/gem/yellow-grp.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ##### About Us Area End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<!-- <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>A Place For You</h6>
                        <h2>Find a place to connect and grow through a small group, class, or regular gathering.</h2>
                        <a href="#" class="btn crose-btn btn-2">Become A Member</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Why Choose Us Area Start ##### -->
<div class="why-choose-us bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    {{!-- <h2>What we do</h2> --}}
                    {{!-- <p>Loaded with fast-paced worship, activities, and IT trainings teachings to address real issues that --}}
                        {{!-- we face each day</p> --}}
                </div>
            </div>
        </div>


    </div>
</div>
<!-- ##### Why Choose Us Area End ##### -->

<!-- ##### Team Members Area Start ##### -->

<!-- ##### Team Members Area End ##### -->

<!-- ##### Subscribe Area Start ##### -->
{{>subscribe}}


{{>footer}}
