{{>header}}
<!-- ##### Header Area End ##### -->

{{>slider}}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Team Members Area Start ##### -->
<div class="team-members-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>Meet Our Media Team</h2>

                </div>
            </div>
        </div>

        <div class="row">
            <!-- Team Members Area -->

            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/vaha.jpg" alt="">
                        <h6>Famous Fms</h6>
                        <span>Founder</span>
                    </div>
                </div>
            </div>

            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/gasu.jpg" alt="">
                        <h6>Kobby</h6>
                        <span>President</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/jules.jpg" alt="">
                        <h6>Michael Newsman Salifu</h6>
                        <span>Vice President</span>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/joy.jpg" alt="">
                        <h6>Prof Elshadia</h6>
                        <span>Secretary</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/raj.jpg" alt="">
                        <h6>Brother Emma</h6>
                        <span>Head of Finance</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/maame.jpg" alt="">
                        <h6>Emmanuel Ntow</h6>
                        <span>University of Ghana, Main Campus President</span>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/ed.jpg" alt="">
                        <h6>Samuel Dadzie</h6>
                        <span>Campus Gem UCC Vice-President</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">

                <div class="single-team-members text-center mb-100">
                    <div class="single-why-choose-us mb-100">
                        <img class="rounded-circle" width="200px" src="../public/img/core-img/parker.jpg" alt="">
                        <h6>John Kwosie Amenuvor</h6>
                        <span>Outreach Leader, Central & Western Region</span>
                    </div>
                </div>
            </div>











        </div>
    </div>
</div>
<!-- ##### Team Members Area End ##### -->

<!-- ##### Subscribe Area Start ##### -->
{{>subscribe}}


{{>footer}}
